@import '~src/variables';

:host {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
}

.list {
  font-family: $main-font;
  box-sizing: border-box;
  width: 100%;
  padding: 48px 40px 36px;
  border-radius: 8px;
  border: 1px solid #dadce0;

  &__title {
    font-size: 1.2em;
    margin-bottom: 24px;
    text-align: center;
  }
}
