<div class="app">
  <h1 class="app__title">Welcome in Angular Todo List Playground!</h1>

  <img class="app__image" src="../assets/joker-150.png" alt="Welcome" />

  <nav class="app__navigation navigation">
    <ul class="navigation__list list">
      <li class="list__item item">
        <a class="item__link" routerLink="">Home</a>
      </li>
      <li class="list__item item">
        <a class="item__link" routerLink="/sign-in">Login</a>
      </li>
      <li class="list__item item">
        <a class="item__link" routerLink="/sign-up">Register</a>
      </li>
      <li class="list__item item">
        <a class="item__link" routerLink="/list">List</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
