@import '~src/variables';

.todo {
  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &__checkbox {
    width: 100%;

    .mat-checkbox-layout,
    .mat-checkbox-label {
      width: 100%;
    }

    .mat-checkbox-inner-container {
      margin-right: 16px;
    }
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80px;

    &__icon {
      cursor: pointer;
      transition: 0.3s;

      &--delete {
        &:hover {
          color: #f00;
        }
      }
    }
  }
}
