@import '~src/variables';

.footer {
  font-family: $main-font;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: $primary;
  color: #fff;
  padding: 18px 16px;
  width: 100%;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
}
